In [2]:
#EDA

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
movies = pd.read_csv("datasets/movies.csv")
credits = pd.read_csv("datasets/credits.csv")

In [4]:
movies.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004

In [5]:
movies.columns
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
movies.shape
credits.shape

(4803, 4)

In [7]:

movies.isnull().sum()
credits.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [8]:
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [9]:
credits.head(10)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."

In [10]:
movies.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [11]:
credits.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

In [12]:
#merge the data on title

movies = movies.merge(credits, on='title')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [15]:
#keeping only the required columns
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [16]:
# data preprocessing

import ast

In [17]:
#Extract Relevant Features
def convert(obj):
    L = []
    # Only apply ast.literal_eval if obj is a string
    if isinstance(obj, str):
        items = ast.literal_eval(obj)
    else:
        items = obj
    for i in items:
        L.append(i['name'] if isinstance(i, dict) and 'name' in i else i)
    return L

# applying the convert function to genres and keywords only if they are not already lists
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4809, dtype: object

In [18]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4809, dtype: object

In [19]:
# Top 3 cast members only
def get_top_cast(obj):
    L = []
    count = 0
    if isinstance(obj, str):
        items = ast.literal_eval(obj)
    else:
        items = obj
    for item in items:
        if count < 3:
            if isinstance(item, dict) and 'name' in item:
                L.append(item['name'])
                count += 1
            elif isinstance(item, str):
                # If already a string (name), just append
                L.append(item)
                count += 1
        else:
            break
    return L

movies['cast'] = movies['cast'].apply(get_top_cast)

movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry BishÃ©, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4809, dtype: object

In [20]:
#get the director from crew
"""def get_director(obj):
    for item in ast.literal_eval(obj):
        if item['job'] == 'Director':
            return item['name']
        
    return []

movies['crew'] = movies['crew'].apply(get_director)"""
movies['crew']=list(movies['crew'])
movies['crew']

0       [{"credit_id": "52fe48009251416c750aca23", "de...
1       [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       [{"credit_id": "54805967c3a36829b5002c41", "de...
3       [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4       [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
                              ...
4804    [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805    [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808    [{"credit_id": "58ce021b9251415a390165d9", "de...
Name: crew, Length: 4809, dtype: object

In [21]:
# process the reviews
movies['overview'] = movies['overview'].apply(lambda x: x.split() if isinstance(x, str) else [])

In [22]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4809, dtype: object

In [23]:
#combine all the features into a single string

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew'].apply(lambda x: [x])

In [24]:
movies['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4809, dtype: object

In [25]:
#converting to string
movies['tags'] = movies['tags'].apply(lambda x: ' '.join(map(str, x)))

In [26]:
movies['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4809, dtype: object

In [27]:
#final dataset
final_movies = movies[['movie_id', 'title', 'tags']]
final_movies['tags'] = final_movies['tags'].apply(lambda x: x.lower())

C:\Users\nikhi\AppData\Local\Temp\ipykernel_17148\2276856417.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movies['tags'] = final_movies['tags'].apply(lambda x: x.lower())

In [28]:
final_movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [29]:
# Save the final dataset to a CSV file
#with open('final_movies.csv', 'w', encoding='utf-8') as f:
 #   final_movies.to_csv(f, index=False)

In [30]:
#vectorization

from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(stop_words='english')
count_matrix = count_vectorizer.fit_transform(final_movies['tags']).toarray()

count_matrix.shape

(4809, 237395)

In [31]:
count_matrix[0:]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [32]:
list(count_vectorizer.get_feature_names_out())

['00',
 '000',
 '007',
 '07am',
 '10',
 '100',
 '1000',
 '10001',
 '1000102',
 '100015',
 '1000157',
 '10002',
 '100026',
 '100036',
 '10004',
 '1000406',
 '1000433',
 '1000467',
 '10005',
 '1000515',
 '100053',
 '1000559',
 '10007',
 '10009',
 '1000909',
 '10010',
 '10011',
 '100120',
 '1001361',
 '1001368',
 '1001393',
 '10014',
 '10015',
 '1001648',
 '1001658',
 '1001659',
 '1001660',
 '1001661',
 '1001662',
 '1001673',
 '1001674',
 '1001703',
 '1001704',
 '1001705',
 '1001706',
 '1001707',
 '1001708',
 '1001718',
 '1001733',
 '1001764',
 '1001817',
 '1001851',
 '1001906',
 '1001932',
 '1002',
 '1002001',
 '100203',
 '1002096',
 '1002161',
 '100218',
 '1002296',
 '1002360',
 '1002398',
 '1002502',
 '1002507',
 '1002552',
 '1002554',
 '1002564',
 '1002581',
 '1002602',
 '1002623',
 '1002641',
 '1002643',
 '1002644',
 '1002652',
 '100266',
 '1002740',
 '1002842',
 '1002917',
 '1002919',
 '10030',
 '1003008',
 '10031',
 '1003189',
 '1003190',
 '10032',
 '1003244',
 '1003253',
 '10033',
 '10034',
 '10035',
 '10036',
 '1003623',
 '1003649',
 '10037',
 '10038',
 '100383',
 '100387',
 '10039',
 '1003944',
 '1003945',
 '1003947',
 '10040',
 '10041',
 '1004171',
 '1004172',
 '10042',
 '1004282',
 '10043',
 '10044',
 '10045',
 '1004599',
 '10046',
 '1004624',
 '1004714',
 '100473',
 '10048',
 '1004835',
 '1004836',
 '10049',
 '10050',
 '100507',
 '10051',
 '1005159',
 '100516',
 '10052',
 '1005287',
 '10053',
 '10054',
 '1005573',
 '10056',
 '10058',
 '1005814',
 '1005950',
 '10064',
 '10065',
 '10066',
 '10067',
 '1006723',
 '1006729',
 '1006732',
 '1006747',
 '1006810',
 '1006866',
 '1007395',
 '1007435',
 '10076',
 '100762',
 '100772',
 '10078',
 '10079',
 '1008052',
 '1008067',
 '1008091',
 '10081',
 '1008115',
 '10082',
 '1008329',
 '1008408',
 '1008412',
 '1008413',
 '100847',
 '100883',
 '100888',
 '1009121',
 '100914',
 '1009253',
 '1009254',
 '1009255',
 '1009730',
 '100981',
 '1009842',
 '10099',
 '100993',
 '101',
 '1010024',
 '1010037',
 '10101',
 '1010110',
 '10102',
 '101022',
 '10103',
 '10104',
 '10105',
 '10106',
 '10107',
 '1010751',
 '1010763',
 '1010787',
 '10108',
 '1010847',
 '10109',
 '1010997',
 '1011',
 '10110',
 '1011000',
 '1011113',
 '1011158',
 '1011188',
 '1011204',
 '1011390',
 '1011452',
 '101150',
 '1011613',
 '1011633',
 '1011666',
 '10118',
 '1011834',
 '101187',
 '10119',
 '1011957',
 '1011958',
 '1012',
 '10120',
 '1012022',
 '1012025',
 '1012028',
 '10121',
 '1012105',
 '10122',
 '1012269',
 '10123',
 '1012329',
 '101233',
 '10124',
 '10125',
 '10126',
 '1012801',
 '1012891',
 '1012907',
 '1012973',
 '101298',
 '1012984',
 '1013105',
 '1013559',
 '1013562',
 '1013608',
 '101377',
 '101399',
 '1014026',
 '101427',
 '1014789',
 '101485',
 '1014908',
 '1014915',
 '1014917',
 '1014919',
 '1014920',
 '1014922',
 '1014923',
 '1014924',
 '1014925',
 '1014928',
 '1014937',
 '1014942',
 '1014943',
 '1014978',
 '1014988',
 '1015',
 '1015060',
 '10151',
 '101515',
 '101518',
 '101523',
 '1015356',
 '101542',
 '1015427',
 '1015485',
 '1015492',
 '10155',
 '1015545',
 '1015565',
 '1015623',
 '1015645',
 '10157',
 '101573',
 '1015792',
 '1015864',
 '1015883',
 '1015884',
 '1015885',
 '1015886',
 '1015887',
 '1015889',
 '1015890',
 '1015891',
 '1015894',
 '1015903',
 '1015907',
 '1015921',
 '1015922',
 '1015923',
 '1015925',
 '1015965',
 '1016',
 '1016007',
 '101608',
 '1016108',
 '1016148',
 '1016175',
 '1016176',
 '1016177',
 '1016178',
 '1016179',
 '1016188',
 '1016216',
 '101623',
 '1016318',
 '1016502',
 '1016541',
 '101666',
 '1016823',
 '1016840',
 '1017015',
 '1017017',
 '1017234',
 '1017235',
 '1017236',
 '1017238',
 '1017240',
 '1017262',
 '1017277',
 '1017296',
 '1017338',
 '1017339',
 '1017340',
 '1017343',
 '1017344',
 '1017375',
 '1017376',
 '1017377',
 '1017378',
 '1017450',
 '101751',
 '101767',
 '1017687',
 '1017698',
 '10177',
 '1017789',
 '10178',
 '10179',
 '1017996',
 '1017997',
 '1017998',
 '1017999',
 '1018000',
 '101802',
 '1018034',
 '1018071',
 '1018073',
 '1018074',
 '1018077',
 '1018082',
 '1018083',
 '1018084',
 '1018091',
 '1018092',
 '1018096',
 '10181',
 '101810',
 '101814',
 '10183',
 '1018349',
 '1018357',
 '1018463',
 '1018467',
 '1018472',
 '1018480',
 '10185',
 '10186',
 '1018635',
 '1018660',
 '1018662',
 '1018663',
 '1018664',
 '101869',
 '1018699',
 '10187',
 '1018700',
 '1018703',
 '1018705',
 '1018706',
 '1018708',
 '1018710',
 '1018712',
 '1018728',
 '1018751',
 '1018752',
 '1018753',
 '1018754',
 '1018757',
 '1018759',
 '1018788',
 '10188',
 '1018812',
 '10189',
 '1018930',
 '1018931',
 '1018939',
 '1018958',
 '1018965',
 '1018975',
 '1018976',
 '1018986',
 '1018988',
 '101903',
 '1019062',
 '101909',
 '1019303',
 '1019426',
 '10197',
 '101974',
 '10198',
 '1019814',
 '1019837',
 '10199',
 '10200',
 '1020013',
 '1020051',
 '1020052',
 '1020053',
 '1020054',
 '1020057',
 '1020060',
 '1020061',
 '10201',
 '10202',
 '10203',
 '10204',
 '1020407',
 '10205',
 '1020527',
 '1020851',
 '102089',
 '102114',
 '1021206',
 '1021244',
 '10213',
 '1021394',
 '10214',
 '10215',
 '1021691',
 '10218',
 '10219',
 '10220',
 '10221',
 '1022263',
 '1022293',
 '102231',
 '102232',
 '1022433',
 '1022701',
 '10231',
 '1023134',
 '1023141',
 '1023152',
 '1023192',
 '1023289',
 '1023296',
 '102330',
 '1023315',
 '1023319',
 '102332',
 '1023322',
 '1023323',
 '1023324',
 '102333',
 '1023364',
 '1023366',
 '1023389',
 '102339',
 '1023419',
 '102343',
 '102344',
 '1023480',
 '1023481',
 '1023495',
 '102352',
 '1023593',
 '102365',
 '1023711',
 '1023712',
 '1023713',
 '1023720',
 '1023786',
 '1023809',
 '102389',
 '1023984',
 '102400',
 '1024175',
 '1024207',
 '1024216',
 '1024243',
 '102429',
 '1024291',
 '1024297',
 '102430',
 '102434',
 '102445',
 '1024823',
 '1024835',
 '1024836',
 '1024837',
 '1024842',
 '1024844',
 '1024855',
 '1024904',
 '1024905',
 '1024906',
 '1024907',
 '1024908',
 '1024909',
 '1024910',
 '1024912',
 '1025090',
 '1025294',
 '10253',
 '1025318',
 '1025337',
 '1025667',
 '1025712',
 '102582',
 '102585',
 '1025921',
 '102595',
 '102605',
 '1026197',
 '1026247',
 '1026248',
 '1026249',
 '1026258',
 '1026259',
 '1026260',
 '1026261',
 '102627',
 '102630',
 '1026322',
 '102634',
 '1026401',
 '1026842',
 '1026854',
 '102688',
 '1026950',
 '1027017',
 '1027018',
 '1027019',
 '1027020',
 '1027021',
 '1027022',
 '1027025',
 '1027067',
 '1027125',
 '1027126',
 '1027140',
 '1027145',
 '1027146',
 '102721',
 '1027239',
 '1027339',
 '1027349',
 '1027356',
 '102744',
 '1027513',
 '1027545',
 '1027550',
 '1027579',
 '1027620',
 '1027737',
 '1027738',
 '102779',
 '1027800',
 '1027824',
 '1027825',
 '1027869',
 '102797',
 '102803',
 '102804',
 '1028058',
 '102810',
 '102811',
 '102813',
 '102814',
 '102815',
 '1028241',
 '1028415',
 '102873',
 '1028792',
 '1028809',
 '1028847',
 '1028848',
 '1029',
 '1029026',
 '102903',
 '1029064',
 '1029065',
 '1029258',
 '10293',
 '1029332',
 '10295',
 '10296',
 '102967',
 '10297',
 '102977',
 '10298',
 '1029804',
 '1029806',
 '1029829',
 '1030',
 '1030160',
 '1030267',
 '1030290',
 '103031',
 '1030371',
 '1030396',
 '1030397',
 '1030399',
 '103040',
 '1030400',
 '1030401',
 '1030402',
 '1030403',
 '1030404',
 '1030405',
 '1030406',
 '1030407',
 '103041',
 '103050',
 '1030521',
 '103057',
 '1030585',
 '1030588',
 '1030591',
 '103080',
 '1030892',
 '1030966',
 '1030977',
 '1030992',
 '1031096',
 '1031098',
 '1031144',
 '1031200',
 '1031222',
 '1031357',
 '103139',
 '1031469',
 '1031536',
 '1031561',
 '1031586',
 '1031598',
 '1031621',
 '1031656',
 '1031664',
 '1031695',
 '1031697',
 '1031748',
 '1031770',
 '1031810',
 '1031811',
 '1031815',
 '1031921',
 '1031960',
 '1031972',
 '1031978',
 '1032',
 '1032033',
 '1032045',
 '1032063',
 '1032064',
 '1032067',
 '1032068',
 '1032069',
 '1032070',
 '1032071',
 '1032072',
 '1032103',
 '1032232',
 '1032373',
 '103253',
 '1032536',
 '1032545',
 '1033102',
 '1033104',
 '1033105',
 '1033106',
 '103336',
 '1033510',
 '1033619',
 '1033634',
 '1033661',
 '1033662',
 '10337',
 '1033714',
 '103374',
 '1033793',
 '1033804',
 '1033805',
 '1033844',
 '10339',
 '10340',
 '1034044',
 '1034125',
 '1034190',
 '1034192',
 '1034510',
 '1034511',
 '1034578',
 '1034658',
 '1034665',
 '1034679',
 '1034748',
 '1034749',
 '1034754',
 '1034755',
 '1035',
 '1035029',
 '1035044',
 '1035047',
 '1035067',
 '103507',
 '1035076',
 '1035176',
 '1035203',
 '1035289',
 '103536',
 '1035385',
 '1035444',
 '1035447',
 '1035668',
 '1035714',
 '1035777',
 '1035872',
 '103602',
 '103603',
 '103616',
 '1036353',
 '10364',
 '1036418',
 '10365',
 '10367',
 '10368',
 '1036825',
 '1036829',
 '1037',
 '1037124',
 '1037275',
 '1037310',
 '1037327',
 '1037760',
 '10378',
 '1037909',
 '1037931',
 '103797',
 '1037987',
 '1038',
 '1038001',
 '1038313',
 '10385',
 '1038526',
 '103867',
 '10387',
 '1038914',
 '1038922',
 '10390',
 '10391',
 '1039117',
 '1039162',
 '1039164',
 '10392',
 '1039217',
 '1039240',
 '103925',
 '1039264',
 '1039265',
 '1039270',
 '10393',
 '1039336',
 '1039356',
 '1039357',
 '1039358',
 '10394',
 '1039434',
 '10395',
 '1039527',
 '1039528',
 '1039544',
 '103957',
 '1039595',
 '10396',
 '10397',
 '10398',
 '1039845',
 '1039860',
 '1039869',
 '1039984',
 '103999',
 '104',
 '10400',
 '1040314',
 '10404',
 '104043',
 '104044',
 '10405',
 '10407',
 '10408',
 '1040860',
 '1040861',
 '1040872',
 '1040873',
 '1040874',
 '1040875',
 '1040876',
 '1040877',
 '1040878',
 '1040879',
 '1040880',
 '1040881',
 '1040882',
 '1040883',
 '1040895',
 '1040896',
 '1040897',
 '1040898',
 '10409',
 '1040955',
 '1041072',
 '1041278',
 '10413',
 '1041394',
 '10414',
 '1041415',
 '1041458',
 '1041546',
 '1041549',
 '1041550',
 '1041675',
 '10417',
 '10418',
 '1041802',
 '10419',
 '1041958',
 '10420',
 '1042042',
 '1042056',
 '10421',
 '10422',
 '1042213',
 '10423',
 '1042415',
 '1042452',
 '10426',
 '1042639',
 '1042640',
 '1042683',
 '1042699',
 '1042813',
 '1042814',
 '1043015',
 '104308',
 '104309',
 '1043234',
 '1043298',
 '1043358',
 '1043367',
 '1043368',
 '1043374',
 '1043404',
 '1043405',
 '1043424',
 '1043425',
 '1043426',
 '1043427',
 '1043428',
 '1043429',
 '1043430',
 '1043431',
 '1043432',
 '1043433',
 '1043434',
 '1043608',
 '104374',
 '1043800',
 '1043831',
 '10439',
 '104392',
 '1043949',
 '1043953',
 '1043954',
 '1043962',
 '1044',
 '10440',
 '1044042',
 '10441',
 '1044162',
 '10442',
 '1044250',
 '1044256',
 '1044257',
 '104428',
 '10443',
 '10444',
 '1044407',
 '1044415',
 '1044492',
 '10445',
 '10446',
 '1045',
 '10450',
 '104500',
 '104507',
 '1045115',
 '1045317',
 '1045480',
 '1045531',
 '1045816',
 '1045860',
 '1045964',
 '1046',
 '1046051',
 '1046052',
 '1046115',
 '1046127',
 '1046134',
 '1046137',
 '104614',
 '1046142',
 '1046154',
 '1046155',
 '1046160',
 '1046168',
 '1046225',
 '1046231',
 '1046463',
 '1046477',
 '1046494',
 '1046497',
 '1046503',
 '1046534',
 '1046543',
 '1046544',
 '1046545',
 '104659',
 '1046590',
 '10466',
 '1046600',
 '1046612',
 '1046614',
 '1046637',
 '1046638',
 '1046658',
 '1046684',
 '1046685',
 '10467',
 '1046700',
 '1046729',
 '1046757',
 '1046764',
 '1046771',
 '1046787',
 '10468',
 '1046883',
 '1046886',
 '10469',
 '1046901',
 '1046935',
 '1046971',
 '1047',
 '10470',
 '10471',
 '104710',
 '1047108',
 '104718',
 '10472',
 '10473',
 '1047300',
 '1047323',
 '10474',
 '1047588',
 '1047597',
 '1047628',
 '1047629',
 '1047640',
 '1047730',
 '104781',
 '1047832',
 '104784',
 '1048',
 '104832',
 '1048377',
 '1048595',
 '1048884',
 '1048930',
 '1049',
 '10491',
 '10492',
 '104925',
 '1049268',
 '1049271',
 '1049272',
 '10493',
 '1049320',
 ...]

In [33]:
#finding the cosine similarity (sparse output to save memory)
from sklearn.metrics.pairwise import cosine_similarity


similarity  =  cosine_similarity(count_matrix, dense_output=False)
similarity.shape
"""
cosine_sim = cosine_similarity(count_matrix)
cosine_sim.shape
"""

MemoryError: Unable to allocate 8.51 GiB for an array with shape (4809, 237395) and data type float64

In [ ]:
cosine_sim[0:]

<4809x4809 sparse matrix of type '<class 'numpy.float64'>'
	with 23038459 stored elements in Compressed Sparse Row format>

In [ ]:
movie_index = 0
similar_movies = list(enumerate(cosine_sim[movie_index]))

similar_movies

[(0,
  <1x4809 sparse matrix of type '<class 'numpy.float64'>'
  	with 4803 stored elements in Compressed Sparse Row format>)]

In [ ]:
for i in similar_movies[1:6]:
    print(final_movies.iloc[i[0]].title)

In [ ]:
print(final_movies.iloc[0].title)

Avatar

In [ ]:
import pickle

In [ ]:
#save the final movies DataFrame to a pickle file
"""with open('final_movies.pkl', 'wb') as f:
    pickle.dump(final_movies, f)"""

In [ ]:
#save the fianal cosine similarity matrix to a pickle file
"""with open('cosine_sim.pkl', 'wb') as f:
    pickle.dump(cosine_sim, f)"""

In [ ]:
for i in similar_movies[0:]:
    print(final_movies.iloc[i[0]].title)

NameError: name 'similar_movies' is not defined